# CONFIG SERVICE - Variables d'environnement

# Copiez ce fichier en .env et modifiez les valeurs
# cp .env.example .env

# Configuration du serveur
CONFIG_SERVICE_PORT=8085

# Mode de profil
SPRING_PROFILES_ACTIVE=native

# Chemin du dossier des fichiers de configurations
CONFIG_REPO_PATH=votre-chemin-vers-le-dossier

# Configuration du serveur Eureka
EUREKA_SERVER_URL=http://localhost:8761/eureka

# Configuration des logs
# Niveaux: TRACE, DEBUG, INFO, WARN, ERROR
LOG_LEVEL_ROOT=INFO
LOG_LEVEL_APP=DEBUG
LOG_LEVEL_CONFIG=INFO
LOG_FILE_PATH=logs/config-service.log
